.home-landing {
  padding: 0 6.25vw 4rem;

  .home-landing-heading {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
  }

  .home-landing-paragraph {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }
}