header {
  margin-bottom: 3.5rem;
}

.navbar-logo {
  height: 2rem;
  //border: 3px solid red;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-search {
  margin-right: 1.5rem;
}

.navbar-search-dropdown {
  display: flex;
}